<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoPageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37D2FEF01CFC361400C8D391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D2FF041CFC361600C8D391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D2FF0F1CFC361700C8D391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
